.header{
    width:100%;
    border: 1px solid #000;
    position: absolute;
}

.left{
    width: 30%;
    float: left;
    position: relative;
}
.right{
    width: 30%;
    float: right;
    position: relative;
}